/*-----General----*/

body,
html {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
  color: white;
  text-shadow: 0 1px 5px rgba(0,0,0,.1);
}


.flex-fill {
    flex: auto;
}

:root {
  --darkOverlay: rgba(15, 15, 15, 0.925);
  --grey: #4f4f51;
  --lightGrey: #bfc4cc;
}

*:focus {
  outline: none;
}

.bg-color {

  width: 100%;
  height: 100vh;
  z-index: 10;
  opacity: 1;
}

#bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
}

.active {
  display: block;
}

input {
  border: none;
  background: none;
  -webkit-appearance: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "Links Search-bar Search-bar . . . . . . Weather-and-location Weather-and-location" ". . . Clock Clock Clock Clock . . . ." ". . . Welcome-message Welcome-message Welcome-message Welcome-message . . . ." ". . . Focus-for-the-day Focus-for-the-day Focus-for-the-day Focus-for-the-day . . . ." "Settings Photo-location-and-author .  Daily-Quote Daily-Quote Daily-Quote Daily-Quote . . . To-do-list";
  justify-items: stretch;
  height: 100vh;
}

a{
  color:rgba(200, 200, 200, 0.9);
}

a:hover{
  color:#fff;
}

/*-----LinksSection----*/
.links-section {
  grid-area: Links;
}

.links {
  font-size: 1.2rem;
  padding: 20px 20px 0px 0px;
}

.links:hover {
  cursor: pointer;
}

.custom-links-container {
  background-color: var(--darkOverlay);
  position: absolute;
  left: 1px;
  border-radius: 0.5rem;
  text-align: left;
  padding: 10px 15px;
  margin: 10px 10px;
  color: var(--lightGrey);
  width: 200px;
  display: none;
  z-index: 1;
  }

.custom-links-container:before {
  position: relative;
  top: -35px;
  border: 10px solid transparent;
  border-bottom-color: var(--darkOverlay);
  pointer-events: none;
  content: " ";
}

.link-list {
  padding: 0;
  line-height: 1.7;
  position: relative;
  top: -15px;
}

li > a {
  color:inherit;
  font-size: 1rem;
}

li > a:hover {
  color: white;
  text-decoration: none;
}

.add-new-link {
  color: #828893;
  display: inline-block;
}

.add-new-link:hover {
  cursor: pointer;
  color: var(--lightGrey);
}

li > form > input {
  color: var(--lightGrey);
}

*:focus {
  outline: none;
}

:focus::-webkit-input-placeholder {
  color: var(--lightGrey);
}

:focus:-moz-placeholder {
  color: var(--lightGrey);
}​

.input-name {
  display: inline-block;
}

.ion-md-close {
  width: 100%;
  height: 100%;
}

.ion-md-close::before {
  font-size: 0.8rem;
  position: relative;
  top: -5px;
}

.remove, .remove-link {
background-color: transparent;
color: var(--lightGrey);
display: inline-block;
width: 15px;
height: 15px;
border-radius: 50%;
vertical-align: middle;
text-align: center;
position: absolute;
left: 150px;
margin-top: 5px;
}

.remove-link {
  display: none;
}

.remove:hover, .remove-link:hover {
  background-color: rgba(79, 79, 81, 0.5);
  color: white;
  cursor: pointer;
}


/*-----SearchSection----*/

.Search-bar {
  grid-area: Search-bar;
}

#cse-search-box {
  height: 2rem;
  width: 16rem;
  cursor: pointer;
  padding-top: 15px;
}

#cse-search-box:hover .search-hover{
  border-bottom:0.1rem solid #dee2e6;
}

#cse-search-box:hover #ChooseSearch{
  display:block;
}

#cse-search-box:hover #SearchAngle{
  display:block;
}

#cse-search-box:focus-within .search-hover{
  border-bottom:0.1rem solid #eeeeee;
}

#cse-search-box:focus-within #ChooseSearch{
  display:block;
}

#cse-search-box:focus-within #SearchAngle{
  display:block;
}

.search-hover {
  padding-bottom: 0.5rem;
  height: 3rem;
}

.search-i {
  background: none;
  color: white;
}

.Search-engine-box {
  position: relative;
  cursor: pointer;
}

#ChooseSearch,
#SearchAngle {
  display: none;
}

.search-input {
  width: 6rem;
}
.search-input:focus {
  background-color: transparent;
}

.search-angle-i {
  font-size: 0.7rem !important;
}

.search-angle-i:hover {
  color: rgba(20, 20, 20, 0.4);
  transition: 0.3s;
}

.search-logo {
  width: 2rem;
  right: 0;
}

#Search-engine-modal {
  display: none;
  text-align:left;
  width: 13rem;
  position: absolute;
  top: 3rem;
  right: -1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border-top: none;
  background: rgba(20, 20, 20, 0.9);
  color: #fff;
  font-weight: bold;
}
#Search-engine-modal:before {
  position: absolute;
  width: 0;
  height: 0;
  right: 0.7rem;
  top: -1.9rem;
  margin-right: 1rem;
  border: solid transparent;
  border-bottom-color: rgba(20, 20, 20, 0.9);
  border-width: 1rem;
  pointer-events: none;
  content: " ";
}

.SE-title {
  font-size: 0.5rem;
  margin-bottom: 0;
}

.searchtypes {
  padding: 0.2rem;
}

.searchtype {
  padding: 0.2rem;
  font-size: 1rem;
  font-weight: normal;
  cursor: pointer;
}
.searchtype:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.searchtype-i {
  width: 1.2rem;
  margin-right: 0.5rem;
}

/*-----ClockSection----*/
.Clock {
  grid-area: Clock;
  font-size: 9rem;
  font-weight: 500;
  text-align: center;
  height: 150px;
}

/*-----WelcomeSection----*/
.Welcome-message {
  grid-area: Welcome-message;
  font-size: 3rem;
  text-align: center;
  white-space: nowrap;
  padding-bottom: 20px;
}

.top-row{
  justify-content: space-between;
}

.bottom-row{
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: flex-end;
}


.message {
  display: inline;
}

.center {
  display: flex;
  width: 100vw;
  justify-content: center;
  position: relative;
  left: -20px;
}

.user-name {
  display: inline-block;
  color: white;
  width: 220px;
}

.user-name::placeholder {
  color: white;
  opacity: 0.7;
}

.user-name:-ms-input-placeholder {
  color: white;
  opacity: 0.7;
}

.user-name::-ms-input-placeholder {
  color: white;
  opacity: 0.7;
}

.more {
  visibility: hidden;
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 15px;
}

.more:hover {
  cursor: pointer;
  background-color: rgba(79, 79, 81, 0.5);
}

.ellipsis {
  font-size: 1.1rem;
  width: 20px;
  vertical-align: top;
  position:relative;
  top: 5px;
  z-index: 1;
}

.settings {
  display: none;
  background-color: var(--darkOverlay);
  position: absolute;
  font-size: 1rem;
  border-radius: 4px;
  text-align: left;
  margin: -5px 0px 10px auto;
  width: 120px;
  }

.settings:before {
  position: relative;
  left: 5px;
  top: -25px;
  border: 10px solid transparent;
  border-bottom-color: var(--darkOverlay);
  content: " ";
}

.edit-name {
  position: relative;
  top: -10px;
  text-align: center;
}

.edit-name:hover {
  cursor: pointer;
  background-color: rgba(79, 79, 81, 0.5);
}

.Focus-for-the-day {
  grid-area: Focus-for-the-day;
  text-align: center;
  line-height: 1.2;
}

.what {
  font-size: 2.2rem;
  white-space: nowrap;
}

.focus {
  font-size: 2.2rem;
  border-bottom: 1px solid white;
  margin-bottom: 40px;
  color: white;
  text-align: center;
}

.today {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 2.2;
}

.todays-focus {
  padding-bottom: 40px;
  position: relative;
  left: -22px;
}

.user-focus {
  font-size: 2.2rem;
  display: inline;
  padding-bottom: 20px;
}

.focus-line {
  white-space: nowrap;
}

.unchecked, .fa-check-square {
  color: white;
  font-size: 1.5rem;
  visibility: hidden;
  margin-right: 15px;
}

.unchecked:hover, .fa-check-square {
  cursor: pointer;
}

.icon-close {
  width: 100%;
  height: 100%;
}

.icon-close::before {
  font-size: 1.2rem;
  position: relative;
  top: 5px;
}

.fa-plus {
  position: relative;
  top: 5px;
}

.remove-focus {
  visibility: hidden;
}

.remove-focus, .add-focus {
  background-color: transparent;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 15px;
  display: inline-block;
  position: relative;
  top: -5px;
}

.remove-focus:hover, .add-focus:hover {
  cursor: pointer;
  background-color: rgba(79, 79, 81, 0.5);
}


.Daily-Quote {
  grid-area: Daily-Quote;
  text-align: center;
}

.quote {
  font-size: 1.2rem;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.quote-additional, .fa-twitter {
  color:  rgba(237, 237, 237, 0.9);
}

.author {
  font-size: 0.9rem;
}

.like:hover, .fa-twitter:hover {
  color: white;
  cursor: pointer;
}

.liked {
  color: white;
}

.liked:hover {
  cursor: pointer;
}

.liked-quotes {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.liked-quotes:hover {
  cursor: pointer;
  background-color: rgba(79, 79, 81, 0.5);
  color: white;
}

.liked-quotes > i::before {
  position: relative;
  bottom: 7px;
  right: 2px;
}

.quote-additional {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 30px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.quote-additional * {
  padding: 2px;
}

.liked-quotes-container {
  background-color: var(--darkOverlay);
  display: none;
  padding: 20px;
  border-radius: 0.5rem;
  width: 350px;
  position: absolute;
  bottom: 40px;
}

.liked-quotes-container:after {
  top: 100%;
	left: 10%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.liked-quotes-container:after {
	border-color: rgba(0,0,0,0);
	border-top-color: var(--darkOverlay);
	border-width: 10px;
	margin-left: -10px;
}

.liked-quotes-container > p:first-of-type {
  text-transform: uppercase;
}

.liked-quote > span {
  color: rgba(237, 237, 237, 0.9);
  font-size: 0.8rem;
}

.liked-quotes-container > hr {
  margin-top: 15px;
  color: var(--grey);
  border: 0.5px solid var(--grey);
}

.liked-quote {
  margin-top: 0;
  margin-bottom: 0;
}

.liked-quote > i {
  font-size: 0.7rem;
}

.liked-quotes-container p:first-of-type {
  margin-top: auto;
}

.Weather-and-location {
  grid-area: Weather-and-location;
  width: auto;
  text-align: right;
  font-size: 1.5rem;
  padding-right: 20px;
  padding-top: 15px;
}

.location {
  font-size: 1rem;
  width: 50%;
}

.right {
  margin-left: auto;
}

.Weather-and-location:hover {
  cursor: pointer;
}

.description {
  color: var(--lightGrey);
  font-size: 1rem;
}

.forecast-container {
  position: absolute;
  right: 10px;
  width: 430px;
  background-color: var(--darkOverlay);
  color: white;
  border-radius: 0.5rem;
  text-align: left;
  padding: 0px 15px;
  margin: 10px 0px;
  display: none;
  z-index: 2;
}

.current-weather {
  position: relative;
  top: -15px;
}

.current-weather > .location {
  font-size: 1.5rem;
  display: inline-block;
  width: auto;
}

.current-temp-icon {
  font-size: 4rem;
  white-space: nowrap;
}

.forecast-container > hr {
  color: var(--grey);
  border: 0.5px solid var(--grey);
  position: relative;
  top: -15px;
}

.forecast {
  width: auto;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  position: relative;
  top: -15px;
}

.day {
  display: inline-block;
  height: 40px;
  width: auto;
}

.day:hover {
  background-color: rgba(79, 79, 81, 0.5);
  border-radius: 4px;
  cursor: pointer;
}

.day > .current-temp-icon {
  position: relative;
  top: -45px;
  padding-left: 10px;
  padding-right: 10px;
  width: 80px;
}

.day > .current-temp-icon > .weather-icon {
  font-size: 1.2rem;
}

.forecast-day {
  display: inline-block;
  color: var(--lightGrey);
  padding-left: 10px;
  font-size: 1rem;
}

.max-temperature,
.min-temperature {
  font-size: 0.8rem;
  position: relative;
  left: -10px;
}

.min-temperature {
  color: #828893;
  position: relative;
  left: -22px;
}

.weekday {
  font-size: 0.8rem;
  color: var(--lightGrey);
  height: auto;
  text-align: center;
}

.min-temperature-det {
  color: var(--lightGrey);
  font-size: 2.5rem;
}

.forecast-container:before {
  position: relative;
  left: 370px;
  top: -35px;
  border: 10px solid transparent;
  border-bottom-color: var(--darkOverlay);
  content: " ";
}

/*---------ToDoSection----------*/
.To-do-list {
  grid-area: To-do-list;
}

#ToDo-List-Section {
  position: relative;
  cursor: pointer;
  padding-right: 1rem;
}

#ToDo-box {
  position: absolute;
  bottom: 3rem;
  right: 0.5rem;
  background: rgba(20, 20, 20, 0.9);
  width:20rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0 auto;
  cursor: pointer;
  z-index: 2;
}

.ToDo-box{
  display:none;
}

#ToDo-box:before {
  position: absolute;
  content: " ";
  height: 0;
  width: 0;
  margin-left: -4rem;
  right: 1rem;
  bottom: -1.6rem;
  border: 0.8rem solid transparent;
  border-top: 0.8rem solid rgba(20, 20, 20, 0.9);
}

#TDClick {
  font-size: 1.2rem;
}

#TDitem {
  margin: 0.5rem;
  width:100%;
  color: #fff;
}

.TDcontent {
  padding-left: 0.2rem;
}

.TDitems {
  color: #899098;
  padding: 0.5rem 0;
}

.TDValue {
  cursor: pointer;
  white-space:nowrap;
  margin-left: .8rem;
}

.TDcontent{
  padding:0 .5rem;
}

#TDtype-Box {
  position: relative;
}

#TDtype-choice-Box {
  position: absolute;
  z-index: 10;
  border-radius: 0.4rem;
  background-color: #828893;
  top: 3.5rem;
  left: 4.1rem;
}

#TDtype-choice-Box:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(96, 129, 150, 0);
  border-bottom-color: #828893;
  border-width: 0.7rem;
  margin-left: -0.7rem;
}
.TDtype-choice-Box{
  display:none;
}

.TDtypeChoice {
  padding: 0.3rem 0.8rem;
  margin-bottom: 0;
}

.TDtypeChoice:hover {
  background-color: rgba(50, 50, 50, 0.9);
}

#TDlist-box {
  position: relative;
  overflow-y: auto;
  width:100%;
  max-height: 65vh;
}

#TDlist-box::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}

input[type="checkbox"]:checked ~ label.TDcontent {
  text-decoration: line-through;
  color: #828893;
}



.itemOpt {
  position: relative;
  font-size: 1.1rem;
  border-radius: 50%;
  padding: 0.3rem;
  margin-left: auto;
}

.itemOpt:hover {
  background-color: rgba(80, 80, 80, 0.7);
}

.itemOptModal {
  display:none;
  position: absolute;
  right: 2rem;
  border-radius: 0.4rem;
  background-color: rgba(80, 80, 80, 0.9);
  z-index: 20;
  padding: 0.5rem;
}
.itemOptActive{
  display:table;
}
.DelModalItem:hover {
  background-color: rgba(200, 200, 200, 0.8);
}

.DelModalItem {
  margin: 0;
}

#TD_New_Box {
  text-align: center;
}

.TD_New_title {
  font-size: 1rem;
}
#TD_New_btn {
  background-color: #768d87;
  -moz-border-radius: 1.8rem;
  -webkit-border-radius: 1.8rem;
  border-radius: 1.8rem;
  border: 1px solid #566963;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: Arial;
  font-size: 1rem;
  padding: 0.4rem 1.7rem;
  text-decoration: none;
}
#TD_New_btn:hover {
  background-color: #6c7c7c;
}
#TD_New_btn:active {
  position: relative;
  top: 1px;
}

#conf-i {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  margin: 0.6rem;
}

#conf-i:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.Settings {
  grid-area: Settings;
}

.Photo-location-and-author {
  grid-area: Photo-location-and-author;
  font-size:1.2rem;
}



/*--------SetThisToDisplay---------*/
.itemOptActive,.TDtypeActive,.TDactive{
  display:table;
}
